*{
    padding: 0;
    margin: 0;
    
}
/*Este comentario es para decir que el bloque anterior
cambiar lo que ocurre en toda la hoja de estilos*/

h1 {
    background-color: black;
    color: beige;
    padding: 20px;
    font-family: Verdana;
    text-align: center;
}

h2 {
    padding: 25px;
    font-family: Verdana;
    text-align: center;
}

h3 {
    padding: 20px;
    font-family: Verdana;
}

p {
    padding: 20px;
    font-family: Verdana;
    line-height: 35px;
}